In [1]:
%%configure -f
{ "name":"Spark-to-Cosmos_DB_Connector",  
  "conf": {
    "spark.jars.packages": "com.microsoft.azure:azure-cosmosdb-spark_2.4.0_2.11:1.4.0",
    "spark.jars.excludes": "org.scala-lang:scala-reflect"
   }
}

In [2]:
# Base Configuration
readConfig = {
"Endpoint" : "https://lolpredict.documents.azure.com:443/",
"Masterkey" : "UcLcT6bvFUsk677XfibNhJIIqiAstRkaWWrqTJaQOCmVqx0IN0J1ufYdpbsarowutD6nMSKaaLS1NqcD0QDIdQ==",
"Database" : "league_all_data",
"Collection" : "champions", 
}
champ = spark.read.format("com.microsoft.azure.cosmosdb.spark").options(**readConfig).load()
champ.count()

Starting Spark application

SparkSession available as 'spark'.
/usr/bin/anaconda/envs/py35/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
/usr/bin/anaconda/envs/py35/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')146

In [3]:
matchConfig = {
"Endpoint" : "https://lolpredict.documents.azure.com:443/",
"Masterkey" : "UcLcT6bvFUsk677XfibNhJIIqiAstRkaWWrqTJaQOCmVqx0IN0J1ufYdpbsarowutD6nMSKaaLS1NqcD0QDIdQ==",
"Database" : "league_all_data",
"Collection" : "matches", 
}

match = spark.read.format("com.microsoft.azure.cosmosdb.spark").options(**matchConfig).load()

In [4]:
match.count()

2132

In [ ]:
match.head()

In [ ]:
match.createOrReplaceTempView("table1")
match2=spark.sql("SELECT stats.gameType from table1 where stats.gameMode='CLASSIC'")
match2.collect()

### Get Summoner's Rift Matches

In [12]:
srmatch=spark.sql("SELECT * from table1 where stats.gameMode='CLASSIC' and stats.gameDuration>420")
srmatch.count()

1627

## Load Player Data From Player Container

In [85]:
playConfig = {
"Endpoint" : "https://lolpredict.documents.azure.com:443/",
"Masterkey" : "UcLcT6bvFUsk677XfibNhJIIqiAstRkaWWrqTJaQOCmVqx0IN0J1ufYdpbsarowutD6nMSKaaLS1NqcD0QDIdQ==",
"Database" : "league_all_data",
"Collection" : "players", 
}

play = spark.read.format("com.microsoft.azure.cosmosdb.spark").options(**playConfig).load()

In [12]:
play.count()

541

In [ ]:
play.head()

In [ ]:
play.createOrReplaceTempView("table2")
play2=spark.sql("SELECT mastery, id from table2")
play2.collect()

In [ ]:
play.printSchema()

In [ ]:
play2.select('mastery')

## Try adding new stats normalized by game duration

In [ ]:
match3=match2.withColumn('damageperminute', participants.stats.totalDamageDealtToChampions/stats.gameDuration)

In [ ]:
srmatch.printSchema()

In [ ]:
srmatch.withColumn('stats.participants.stats.damageperminute', srmatch.stats.particpants.stats.totalDamageDealtToChampions/srmatch.stats.gameDuration)

In [43]:
srmatch.stats.particpants.stats.totalDamageDealtToChampions

Column<b'stats[particpants][stats][totalDamageDealtToChampions]'>

In [54]:
expjoin=srmatch.join(play)

In [60]:
expflat=srmatch.select(srmatch.columns("stats.*"))

'list' object is not callable
Traceback (most recent call last):
TypeError: 'list' object is not callable

In [69]:
flat_cols = [c[0] for c in srmatch.dtypes if c[1][:6] != 'struct']
nested_cols = [c[0] for c in srmatch.dtypes if c[1][:6] == 'struct']
flat_df = srmatch.select(*flat_cols, *[c + ".*" for c in nested_cols])

In [ ]:
flat_df.printSchema()

In [75]:
flat_cols2 = [c[0] for c in flat_df.dtypes if c[1][:20] != 'struct']
nested_cols2 = [c[0] for c in flat_df.dtypes if c[1][:20] == 'struct']
flat_df2 = srmatch.select(*flat_cols, *[c + ".*" for c in nested_cols])

In [ ]:
flat_df2.printSchema()

name 'combine' is not defined
Traceback (most recent call last):
NameError: name 'combine' is not defined

In [6]:
expdf = srmatch.select(pyspark.sql.functions.col('stats.gameDuration').alias('gameDuration'),
                       pyspark.sql.functions.col('stats.participants.stats').alias('participants.stats'))
expdf.show()

name 'srmatch' is not defined
Traceback (most recent call last):
NameError: name 'srmatch' is not defined

In [7]:
import pyspark.sql.functions

In [ ]:
expdf.collect()

In [ ]:
expdf.printSchema()

In [13]:
expdf2 = srmatch.select(pyspark.sql.functions.col('stats.gameDuration').alias('gameDuration'), 
                      pyspark.sql.functions.col('stats.participants.stats.participantId').alias('participantId'), 
                      pyspark.sql.functions.col('stats.participants.stats.totalDamageDealtToChampions').alias('totalDamageDealtToChampions'))

expdf2.printSchema()

root
 |-- gameDuration: integer (nullable = true)
 |-- participantId: array (nullable = true)
 |    |-- element: integer (containsNull = false)
 |-- totalDamageDealtToChampions: array (nullable = true)
 |    |-- element: integer (containsNull = false)

In [ ]:
expdf2.show()

In [18]:
from pyspark.sql.types import IntegerType, ArrayType, DoubleType

def normalise(x, time):
    return [element / (time/60) for element in x]

expdf3=expdf2.withColumn('dpm', pyspark.sql.functions.udf(normalise, ArrayType(DoubleType()))(expdf2['totalDamageDealtToChampions'], 
                                                                                               expdf2['gameDuration']))

In [19]:
expdf3.printSchema()

root
 |-- gameDuration: integer (nullable = true)
 |-- participantId: array (nullable = true)
 |    |-- element: integer (containsNull = false)
 |-- totalDamageDealtToChampions: array (nullable = true)
 |    |-- element: integer (containsNull = false)
 |-- dpm: array (nullable = true)
 |    |-- element: double (containsNull = true)

In [ ]:
expdf3.show()

In [ ]:
srmatch.printSchema()

In [ ]:
expdf4 = srmatch.select(pyspark.sql.functions.col('id'),
                      pyspark.sql.functions.col('stats.gameDuration').alias('gameDuration'), 
                      pyspark.sql.functions.col('stats.participants.stats.participantId').alias('participantId'),
                      pyspark.sql.functions.col('stats.participantIdentities.player.summonerID').alias('summonerID'),
                      pyspark.sql.functions.col('stats.participants.championID').alias('championID'),
                      pyspark.sql.functions.col('stats.participants.teamId').alias('teamId'),
                      pyspark.sql.functions.col('stats.participants.stats.win').alias('win'),  
                      pyspark.sql.functions.col('stats.participants.stats.kills').alias('kills'),
                      pyspark.sql.functions.col('stats.participants.stats.assists').alias('assists'),
                      pyspark.sql.functions.col('stats.participants.stats.deaths').alias('deaths'),
                      pyspark.sql.functions.col('stats.participants.stats.totalDamageDealtToChampions').alias('totalDamageDealtToChampions'),  
                      pyspark.sql.functions.col('stats.participants.stats.visionScore').alias('visionScore'),
                      pyspark.sql.functions.col('stats.participants.stats.totalTimeCrowdControlDealt').alias('totalTimeCrowdControlDealt')
                      )

expdf4.printSchema()

In [36]:
expdf4.show(1)

+----------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------------------+--------------------+--------------------------+
|        id|gameDuration|       participantId|          summonerID|          championID|              teamId|                 win|               kills|             assists|              deaths|totalDamageDealtToChampions|         visionScore|totalTimeCrowdControlDealt|
+----------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------------------+--------------------+--------------------------+
|3207597356|        1353|[1, 2, 3, 4, 5, 6...|[SAim3CJlYb3gTey9...|[245, 13, 114, 25...|[100, 100, 100, 1...|[false, false, fa...|[3, 2, 0, 4, 1, 1...|[3, 3, 0, 3, 4, 5...|[4, 7, 4, 6, 5, 3...|       [8188, 11206, 637...|[15, 0, 10, 21, 2...|      [396, 68, 66, 68,...|
+----------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------------------+--------------------+--------------------------+
only showing top 1 row

In [ ]:
expdf5=expdf4.withColumn('dpm', pyspark.sql.functions.udf(normalise, ArrayType(DoubleType()))(expdf4['totalDamageDealtToChampions'], 
                                                                                               expdf4['gameDuration']))
expdf5.printSchema()

In [39]:
expdf5.show(1)

+----------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------------------+--------------------+--------------------------+--------------------+
|        id|gameDuration|       participantId|          summonerID|          championID|              teamId|                 win|               kills|             assists|              deaths|totalDamageDealtToChampions|         visionScore|totalTimeCrowdControlDealt|                 dpm|
+----------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------------------+--------------------+--------------------------+--------------------+
|3207597356|        1353|[1, 2, 3, 4, 5, 6...|[SAim3CJlYb3gTey9...|[245, 13, 114, 25...|[100, 100, 100, 1...|[false, false, fa...|[3, 2, 0, 4, 1, 1...|[3, 3, 0, 3, 4, 5...|[4, 7, 4, 6, 5, 3...|       [8188, 11206, 637...|[15, 0, 10, 21, 2...|      [396, 68, 66, 68,...|[363.104212860310...|
+----------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------------------+--------------------+--------------------------+--------------------+
only showing top 1 row

In [ ]:
expdf5=expdf5.withColumn('vpm', pyspark.sql.functions.udf(normalise, ArrayType(DoubleType()))(expdf4['visionScore'],
                                                                                             expdf4['gameDuration']))
expdf5=expdf5.withColumn('ccpm', pyspark.sql.functions.udf(normalise, ArrayType(DoubleType()))(expdf4['totalTimeCrowdControlDealt'],
                                                                                             expdf4['gameDuration']))
expdf5.printSchema()

In [43]:
expdf5.show(1)

+----------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------------------+--------------------+--------------------------+--------------------+--------------------+--------------------+
|        id|gameDuration|       participantId|          summonerID|          championID|              teamId|                 win|               kills|             assists|              deaths|totalDamageDealtToChampions|         visionScore|totalTimeCrowdControlDealt|                 dpm|                 vpm|                ccpm|
+----------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------------------+--------------------+--------------------------+--------------------+--------------------+--------------------+
|3207597356|        1353|[1, 2, 3, 4, 5, 6...|[SAim3CJlYb3gTey9...|[245, 13, 114, 25...|[100, 100, 100, 1...|[false, false, fa...|[3, 2, 0, 4, 1, 1...|[3, 3, 0, 3, 4, 5...|[4, 7, 4, 6, 5, 3...|       [8188, 11206, 637...|[15, 0, 10, 21, 2...|      [396, 68, 66, 68,...|[363.104212860310...|[0.66518847006651...|[17.5609756097560...|
+----------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------------------+--------------------+--------------------------+--------------------+--------------------+--------------------+
only showing top 1 row

In [ ]:
champ.createOrReplaceTempView("table3")
champ2=spark.sql("SELECT id, name, stats.armorperlevel, stats.attackdamageperlevel, stats.attackspeed, stats.attackrange, stats.spellblockperlevel, stats.hpperlevel FROM table3")
champ2.collect()

In [ ]:
champ2.select("id","name","armorperlevel","hpperlevel","spellblockperlevel","attackdamageperlevel","attackspeed","attackrange").collect()

In [47]:
import numpy as np

In [48]:
champ_array = np.array(champ2.select("id","name","armorperlevel","hpperlevel","spellblockperlevel","attackdamageperlevel","attackspeed","attackrange").collect())

In [49]:
champ_array

array([['266', 'Aatrox', '3.25', ..., '5.0', '0.651', '175'],
       ['103', 'Ahri', '3.5', ..., '3.0', '0.668', '550'],
       ['84', 'Akali', '3.5', ..., '3.3', '0.625', '125'],
       ...,
       ['26', 'Zilean', '3.8', ..., '3.0', '0.625', '550'],
       ['142', 'Zoe', '3.5', ..., '3.3', '0.625', '550'],
       ['143', 'Zyra', '3.0', ..., '3.2', '0.625', '575']],
      dtype='<U12')

In [50]:
idl=[1,2,3,4,5]
adf=spark.sql("SELECT stats.armorperlevel, stats.attackdamageperlevel, stats.attackspeed, stats.attackrange, stats.spellblockperlevel, stats.hpperlevel WHERE id=x FROM table3") for x in idl

invalid syntax (<stdin>, line 2)
  File "<stdin>", line 2
    adf=spark.sql("SELECT stats.armorperlevel, stats.attackdamageperlevel, stats.attackspeed, stats.attackrange, stats.spellblockperlevel, stats.hpperlevel WHERE id=x FROM table3") for x in idl
                                                                                                                                                                                       ^
SyntaxError: invalid syntax

In [51]:
adf.show(1)

name 'adf' is not defined
Traceback (most recent call last):
NameError: name 'adf' is not defined

In [ ]:
def ch_array(idl):
    return spark.sql("SELECT stats.armorperlevel, stats.attackdamageperlevel, stats.attackspeed, stats.attackrange, stats.spellblockperlevel, stats.hpperlevel WHERE id=x FROM table3") for x in idl
    return [element / (time/60) for element in x]

In [ ]:
splits=np.vsplit(champ_array, 146)
splits

In [ ]:
for x in splits:
        print(x)

In [83]:
arrays=[]
for x in splits:
    arrays.append(x[0])
arrays

[array(['266', 'Aatrox', '3.25', '90', '1.25', '5.0', '0.651', '175'],
      dtype='<U12'), array(['103', 'Ahri', '3.5', '92', '0.5', '3.0', '0.668', '550'],
      dtype='<U12'), array(['84', 'Akali', '3.5', '95', '1.25', '3.3', '0.625', '125'],
      dtype='<U12'), array(['12', 'Alistar', '3.5', '106', '1.25', '3.62', '0.625', '125'],
      dtype='<U12'), array(['32', 'Amumu', '3.8', '84', '1.25', '3.8', '0.736', '125'],
      dtype='<U12'), array(['34', 'Anivia', '4.0', '82', '0.5', '3.2', '0.625', '600'],
      dtype='<U12'), array(['1', 'Annie', '4.0', '88', '0.5', '2.625', '0.579', '625'],
      dtype='<U12'), array(['22', 'Ashe', '3.4', '85', '0.5', '2.96', '0.658', '600'],
      dtype='<U12'), array(['136', 'AurelionSol', '3.6', '92', '0.5', '3.2', '0.625', '550'],
      dtype='<U12'), array(['268', 'Azir', '3.0', '92', '0.5', '2.8', '0.625', '525'],
      dtype='<U12'), array(['432', 'Bard', '4.0', '89', '0.5', '3.0', '0.625', '500'],
      dtype='<U12'), array(['53', 'Blitzcrank', '3.5', '95', '1.25', '3.5', '0.625', '125'],
      dtype='<U12'), array(['63', 'Brand', '3.5', '88', '0.5', '3.0', '0.625', '550'],
      dtype='<U12'), array(['201', 'Braum', '4.0', '87', '1.25', '3.2', '0.644', '125'],
      dtype='<U12'), array(['51', 'Caitlyn', '3.5', '91', '0.5', '2.88', '0.625', '650'],
      dtype='<U12'), array(['164', 'Camille', '3.8', '85', '1.25', '3.5', '0.644', '125'],
      dtype='<U12'), array(['69', 'Cassiopeia', '3.5', '90', '0.5', '3.0', '0.647', '550'],
      dtype='<U12'), array(['31', 'Chogath', '3.5', '80', '1.25', '4.2', '0.625', '125'],
      dtype='<U12'), array(['42', 'Corki', '3.5', '87', '0.5', '2.5', '0.638', '550'],
      dtype='<U12'), array(['122', 'Darius', '4.0', '100', '1.25', '5.0', '0.625', '175'],
      dtype='<U12'), array(['131', 'Diana', '3.6', '95', '1.25', '3.0', '0.625', '150'],
      dtype='<U12'), array(['119', 'Draven', '3.3', '88', '0.5', '3.61', '0.679', '550'],
      dtype='<U12'), array(['36', 'DrMundo', '3.5', '89', '1.25', '3.5', '0.721', '125'],
      dtype='<U12'), array(['245', 'Ekko', '3.0', '85', '1.25', '3.0', '0.688', '125'],
      dtype='<U12'), array(['60', 'Elise', '3.35', '93', '0.5', '3.0', '0.625', '550'],
      dtype='<U12'), array(['28', 'Evelynn', '3.5', '84', '1.25', '3.0', '0.667', '125'],
      dtype='<U12'), array(['81', 'Ezreal', '3.5', '86', '0.5', '2.5', '0.625', '550'],
      dtype='<U12'), array(['9', 'Fiddlesticks', '3.5', '80', '0.5', '2.625', '0.625', '480'],
      dtype='<U12'), array(['114', 'Fiora', '3.5', '85', '1.25', '3.3', '0.69', '150'],
      dtype='<U12'), array(['105', 'Fizz', '3.4', '98', '1.25', '3.0', '0.658', '175'],
      dtype='<U12'), array(['3', 'Galio', '3.5', '112', '1.25', '3.5', '0.625', '150'],
      dtype='<U12'), array(['41', 'Gangplank', '3.0', '82', '1.25', '3.0', '0.658', '125'],
      dtype='<U12'), array(['86', 'Garen', '3.0', '84', '1.25', '4.5', '0.625', '175'],
      dtype='<U12'), array(['150', 'Gnar', '2.5', '65', '0.5', '3.0', '0.625', '175'],
      dtype='<U12'), array(['79', 'Gragas', '3.6', '95', '1.25', '3.5', '0.675', '125'],
      dtype='<U12'), array(['104', 'Graves', '3.4', '92', '1.0', '3.0', '0.475', '425'],
      dtype='<U12'), array(['120', 'Hecarim', '4.0', '90', '1.25', '3.2', '0.67', '175'],
      dtype='<U12'), array(['74', 'Heimerdinger', '3.0', '87', '0.5', '2.7', '0.625', '550'],
      dtype='<U12'), array(['420', 'Illaoi', '3.8', '95', '1.25', '5.0', '0.571', '125'],
      dtype='<U12'), array(['39', 'Irelia', '3.0', '95', '1.25', '4.0', '0.656', '200'],
      dtype='<U12'), array(['427', 'Ivern', '3.5', '95', '1.25', '3.0', '0.644', '475'],
      dtype='<U12'), array(['40', 'Janna', '3.8', '70', '0.5', '1.5', '0.625', '550'],
      dtype='<U12'), array(['59', 'JarvanIV', '3.6', '90', '1.25', '3.4', '0.658', '175'],
      dtype='<U12'), array(['24', 'Jax', '3.0', '85', '1.25', '3.375', '0.638', '125'],
      dtype='<U12'), array(['126', 'Jayce', '3.5', '90', '0.5', '4.25', '0.658', '125'],
      dtype='<U12'), array(['202', 'Jhin', '3.5', '91', '0.5', '4.7', '0.625', '550'],
      dtype='<U12'), array(['222', 'Jinx', '3.5', '84', '0.5', '3.4', '0.625', '525'],
      dtype='<U12'), array(['145', 'Kaisa', '3.0', '86', '0.5', '1.7', '0.644', '525'],
      dtype='<U12'), array(['429', 'Kalista', '3.5', '89', '0.5', '4.0', '0.694', '525'],
      dtype='<U12'), array(['43', 'Karma', '3.8', '95', '0.5', '3.3', '0.625', '525'],
      dtype='<U12'), array(['30', 'Karthus', '3.5', '87', '0.5', '3.25', '0.625', '450'],
      dtype='<U12'), array(['38', 'Kassadin', '2.8', '90', '0.5', '3.9', '0.64', '150'],
      dtype='<U12'), array(['55', 'Katarina', '3.5', '94', '1.25', '3.2', '0.658', '125'],
      dtype='<U12'), array(['10', 'Kayle', '3.0', '85', '0.5', '2.5', '0.625', '175'],
      dtype='<U12'), array(['141', 'Kayn', '3.3', '85', '1.25', '3.3', '0.669', '175'],
      dtype='<U12'), array(['85', 'Kennen', '3.75', '84', '0.5', '3.75', '0.625', '550'],
      dtype='<U12'), array(['121', 'Khazix', '3.0', '85', '1.25', '3.1', '0.668', '125'],
      dtype='<U12'), array(['203', 'Kindred', '3.5', '85', '0.5', '2.26', '0.625', '500'],
      dtype='<U12'), array(['240', 'Kled', '4.0', '70', '1.25', '3.5', '0.625', '125'],
      dtype='<U12'), array(['96', 'KogMaw', '3.5', '88', '0.5', '3.11', '0.665', '500'],
      dtype='<U12'), array(['7', 'Leblanc', '3.5', '92', '0.5', '3.5', '0.625', '525'],
      dtype='<U12'), array(['64', 'LeeSin', '3.7', '85', '1.25', '3.2', '0.651', '125'],
      dtype='<U12'), array(['89', 'Leona', '3.6', '87', '1.25', '3.0', '0.625', '125'],
      dtype='<U12'), array(['127', 'Lissandra', '3.7', '90', '0.5', '2.7', '0.656', '550'],
      dtype='<U12'), array(['236', 'Lucian', '3.0', '86', '0.5', '2.75', '0.638', '500'],
      dtype='<U12'), array(['117', 'Lulu', '3.7', '74', '0.5', '2.6', '0.625', '550'],
      dtype='<U12'), array(['99', 'Lux', '4.0', '85', '0.5', '3.3', '0.669', '550'],
      dtype='<U12'), array(['54', 'Malphite', '3.75', '90', '1.25', '4.0', '0.736', '125'],
      dtype='<U12'), array(['90', 'Malzahar', '3.5', '87', '0.5', '3.0', '0.625', '500'],
      dtype='<U12'), array(['57', 'Maokai', '4.0', '95', '1.25', '3.3', '0.8', '125'],
      dtype='<U12'), array(['11', 'MasterYi', '3.0', '92', '1.25', '3.0', '0.679', '125'],
      dtype='<U12'), array(['21', 'MissFortune', '3.0', '91', '0.5', '2.7', '0.656', '550'],
      dtype='<U12'), array(['62', 'MonkeyKing', '3.5', '85', '1.25', '4.0', '0.711', '175'],
      dtype='<U12'), array(['82', 'Mordekaiser', '3.0', '90', '1.25', '4.0', '0.625', '175'],
      dtype='<U12'), array(['25', 'Morgana', '3.8', '90', '0.5', '3.5', '0.625', '450'],
      dtype='<U12'), array(['267', 'Nami', '4.0', '74', '0.5', '3.1', '0.644', '550'],
      dtype='<U12'), array(['75', 'Nasus', '3.5', '90', '1.25', '3.5', '0.638', '125'],
      dtype='<U12'), array(['111', 'Nautilus', '3.75', '86', '1.25', '3.3', '0.706', '175'],
      dtype='<U12'), array(['518', 'Neeko', '4.0', '90', '0.5', '2.5', '0.625', '550'],
      dtype='<U12'), array(['76', 'Nidalee', '3.5', '85', '0.5', '3.5', '0.638', '525'],
      dtype='<U12'), array(['56', 'Nocturne', '3.5', '85', '1.25', '3.1', '0.721', '125'],
      dtype='<U12'), array(['20', 'Nunu', '3.0', '82', '1.25', '3.0', '0.625', '125'],
      dtype='<U12'), array(['2', 'Olaf', '3.0', '93', '1.25', '3.5', '0.694', '125'],
      dtype='<U12'), array(['61', 'Orianna', '3.0', '91', '0.5', '2.6', '0.658', '525'],
      dtype='<U12'), array(['516', 'Ornn', '4.0', '95', '1.25', '3.5', '0.625', '175'],
      dtype='<U12'), array(['80', 'Pantheon', '3.75', '95', '1.25', '3.3', '0.644', '175'],
      dtype='<U12'), array(['78', 'Poppy', '3.5', '90', '1.25', '4.0', '0.625', '125'],
      dtype='<U12'), array(['555', 'Pyke', '5.0', '90', '1.5', '2.0', '0.667', '150'],
      dtype='<U12'), array(['246', 'Qiyana', '3.5', '90', '1.25', '3.1', '0.625', '150'],
      dtype='<U12'), array(['133', 'Quinn', '3.5', '85', '0.5', '2.4', '0.668', '525'],
      dtype='<U12'), array(['497', 'Rakan', '3.9', '85', '1.25', '3.5', '0.635', '300'],
      dtype='<U12'), array(['33', 'Rammus', '4.3', '86', '1.25', '3.5', '0.625', '125'],
      dtype='<U12'), array(['421', 'RekSai', '3.75', '85', '1.25', '3.0', '0.667', '175'],
      dtype='<U12'), array(['58', 'Renekton', '4.0', '87', '1.25', '3.75', '0.665', '125'],
      dtype='<U12'), array(['107', 'Rengar', '3.0', '90', '1.25', '3.0', '0.667', '125'],
      dtype='<U12'), array(['92', 'Riven', '3.2', '86', '1.25', '3.0', '0.625', '125'],
      dtype='<U12'), array(['68', 'Rumble', '3.5', '85', '1.25', '3.2', '0.644', '125'],
      dtype='<U12'), array(['13', 'Ryze', '3.0', '98', '0.5', '3.0', '0.625', '550'],
      dtype='<U12'), array(['113', 'Sejuani', '4.25', '95', '1.25', '4.0', '0.625', '150'],
      dtype='<U12'), array(['235', 'Senna', '3.5', '85', '0.5', '0.0', '0.625', '600'],
      dtype='<U12'), array(['35', 'Shaco', '3.5', '89', '1.25', '3.0', '0.694', '125'],
      dtype='<U12'), array(['98', 'Shen', '3.0', '85', '1.25', '3.0', '0.751', '125'],
      dtype='<U12'), array(['102', 'Shyvana', '3.35', '95', '1.25', '3.4', '0.658', '125'],
      dtype='<U12'), array(['27', 'Singed', '3.5', '85', '1.25', '3.375', '0.613', '125'],
      dtype='<U12'), array(['14', 'Sion', '3.0', '73', '1.25', '4.0', '0.679', '175'],
      dtype='<U12'), array(['15', 'Sivir', '3.25', '88', '0.5', '3.0', '0.625', '500'],
      dtype='<U12'), array(['72', 'Skarner', '3.8', '90', '1.25', '4.5', '0.625', '125'],
      dtype='<U12'), array(['37', 'Sona', '3.3', '77', '0.5', '3.0', '0.644', '550'],
      dtype='<U12'), array(['16', 'Soraka', '3.8', '78', '0.5', '3.0', '0.625', '550'],
      dtype='<U12'), array(['50', 'Swain', '4.0', '85', '0.5', '2.7', '0.625', '525'],
      dtype='<U12'), array(['517', 'Sylas', '3.0', '95', '1.25', '3.0', '0.645', '175'],
      dtype='<U12'), array(['134', 'Syndra', '3.4', '90', '0.5', '2.9', '0.625', '550'],
      dtype='<U12'), array(['223', 'TahmKench', '3.5', '100', '1.25', '3.2', '0.658', '175'],
      dtype='<U12'), array(['163', 'Taliyah', '3.5', '90', '0.5', '3.3', '0.625', '525'],
      dtype='<U12'), array(['91', 'Talon', '3.5', '95', '1.25', '3.1', '0.625', '125'],
      dtype='<U12'), array(['44', 'Taric', '3.4', '90', '1.25', '3.5', '0.625', '150'],
      dtype='<U12'), array(['17', 'Teemo', '3.75', '90', '0.5', '3.0', '0.69', '500'],
      dtype='<U12'), array(['412', 'Thresh', '0.0', '93', '0.5', '2.2', '0.625', '450'],
      dtype='<U12'), array(['18', 'Tristana', '3.0', '88', '0.5', '3.3', '0.656', '525'],
      dtype='<U12'), array(['48', 'Trundle', '2.7', '96', '1.25', '3.0', '0.67', '175'],
      dtype='<U12'), array(['23', 'Tryndamere', '3.1', '98', '1.25', '3.7', '0.67', '125'],
      dtype='<U12'), array(['4', 'TwistedFate', '3.15', '94', '0.5', '3.3', '0.651', '525'],
      dtype='<U12'), array(['29', 'Twitch', '3.0', '84', '0.5', '3.11', '0.679', '550'],
      dtype='<U12'), array(['77', 'Udyr', '4.0', '99', '1.25', '5.0', '0.658', '125'],
      dtype='<U12'), array(['6', 'Urgot', '4.25', '88', '1.25', '4.0', '0.625', '350'],
      dtype='<U12'), array(['110', 'Varus', '3.4', '89', '0.5', '3.11', '0.658', '575'],
      dtype='<U12'), array(['67', 'Vayne', '3.4', '89', '0.5', '2.36', '0.658', '550'],
      dtype='<U12'), array(['45', 'Veigar', '3.75', '94', '0.5', '2.625', '0.625', '550'],
      dtype='<U12'), array(['161', 'Velkoz', '3.5', '88', '0.5', '3.1416', '0.625', '525'],
      dtype='<U12'), array(['254', 'Vi', '4.0', '85', '1.25', '3.5', '0.644', '125'],
      dtype='<U12'), array(['112', 'Viktor', '4.0', '90', '0.5', '3.0', '0.658', '525'],
      dtype='<U12'), array(['8', 'Vladimir', '3.3', '96', '0.5', '3.0', '0.658', '450'],
      dtype='<U12'), array(['106', 'Volibear', '3.5', '86', '1.25', '3.3', '0.658', '125'],
      dtype='<U12'), array(['19', 'Warwick', '3.2', '85', '1.25', '3.0', '0.638', '125'],
      dtype='<U12'), array(['498', 'Xayah', '3.0', '86', '0.5', '2.9', '0.625', '525'],
      dtype='<U12'), array(['101', 'Xerath', '3.5', '92', '0.5', '3.0', '0.625', '525'],
      dtype='<U12'), array(['5', 'XinZhao', '3.5', '92', '1.25', '3.0', '0.645', '175'],
      dtype='<U12'), array(['157', 'Yasuo', '3.4', '87', '1.25', '3.2', '0.697', '175'],
      dtype='<U12'), array(['83', 'Yorick', '4.0', '100', '1.25', '5.0', '0.625', '175'],
      dtype='<U12'), array(['350', 'Yuumi', '3.0', '70', '0.3', '3.1', '0.625', '500'],
      dtype='<U12'), array(['154', 'Zac', '3.5', '95', '1.25', '3.4', '0.736', '175'],
      dtype='<U12'), array(['238', 'Zed', '3.5', '85', '1.25', '3.4', '0.651', '125'],
      dtype='<U12'), array(['115', 'Ziggs', '3.3', '92', '0.5', '3.1', '0.656', '550'],
      dtype='<U12'), array(['26', 'Zilean', '3.8', '82', '0.5', '3.0', '0.625', '550'],
      dtype='<U12'), array(['142', 'Zoe', '3.5', '92', '0.5', '3.3', '0.625', '550'],
      dtype='<U12'), array(['143', 'Zyra', '3.0', '79', '0.5', '3.2', '0.625', '575'],
      dtype='<U12')]

In [84]:
for x in arrays:
    if x[1] == "Ahri":
        print(x)

['103' 'Ahri' '3.5' '92' '0.5' '3.0' '0.668' '550']

In [87]:
play.createOrReplaceTempView("table2")
play2=spark.sql("SELECT mastery, id from table2")
play2.show(1)

+--------------------+--------------------+
|             mastery|                  id|
+--------------------+--------------------+
|[31119, 218, 2712...|EuXHkripW2Qav3H2l...|
+--------------------+--------------------+
only showing top 1 row

In [ ]:

play2=spark.sql("SELECT id, mastery, matches from table2")
play2.show(2)

In [91]:
play2.head()

Row(id='EuXHkripW2Qav3H2l1uGWapRCMgwQh4fHIVFybcTCuTk8XX_', mastery=Row(1=31119, 10=218, 101=2712, 102=None, 103=5543, 104=None, 105=4496, 106=None, 107=None, 11=None, 110=None, 111=None, 112=None, 113=None, 114=591, 115=544, 117=42593, 119=899, 12=None, 120=None, 121=6108, 122=None, 126=1187, 127=None, 13=25608, 131=None, 133=979, 134=436, 136=98, 14=None, 141=None, 142=4003, 143=None, 145=95146, 15=None, 150=None, 154=None, 157=None, 16=45287, 161=1983, 163=None, 164=4769, 17=90, 18=1124, 19=None, 2=772, 20=1650, 201=79, 202=None, 203=None, 21=1632, 22=None, 222=30852, 223=None, 23=None, 235=None, 236=5619, 238=None, 24=20526, 240=None, 245=94233, 246=12755, 25=4923, 254=None, 26=1398, 266=10991, 267=72403, 268=153, 27=None, 28=None, 29=1212, 3=None, 30=None, 31=None, 32=940, 33=None, 34=None, 35=None, 350=4908, 36=None, 37=999, 38=24112, 39=33503, 4=None, 40=27385, 41=None, 412=778, 42=2163, 420=None, 421=976, 427=None, 429=235, 43=11602, 432=968, 44=541, 45=None, 48=None, 497=2871, 498=808, 5=835, 50=None, 51=5333, 516=None, 517=5223, 518=None, 53=116, 54=1004, 55=None, 555=192, 56=None, 57=None, 58=None, 59=None, 6=None, 60=None, 61=1476, 62=None, 63=9341, 64=3678, 67=3650, 68=None, 69=1937, 7=4605, 72=129, 74=None, 75=None, 76=98, 77=None, 78=126, 79=None, 8=1218, 80=None, 81=113, 82=None, 83=None, 84=5768, 85=1058, 86=728, 89=112, 9=None, 90=None, 91=3693, 92=None, 96=1279, 98=None, 99=1920), matches=['3207690957', '3207597356', '3207612018', '3206625787', '3206567503', '3205900865', '3204655759', '3204671034', '3204607354', '3204573746'])

In [92]:
play3 = spark.sql("SELECT id, mastery from table2")

In [ ]:
pyspark.sql.functions.col('mastery').keys()

In [96]:
play3.printSchema()

root
 |-- id: string (nullable = true)
 |-- mastery: struct (nullable = true)
 |    |-- 1: integer (nullable = true)
 |    |-- 10: integer (nullable = true)
 |    |-- 101: integer (nullable = true)
 |    |-- 102: integer (nullable = true)
 |    |-- 103: integer (nullable = true)
 |    |-- 104: integer (nullable = true)
 |    |-- 105: integer (nullable = true)
 |    |-- 106: integer (nullable = true)
 |    |-- 107: integer (nullable = true)
 |    |-- 11: integer (nullable = true)
 |    |-- 110: integer (nullable = true)
 |    |-- 111: integer (nullable = true)
 |    |-- 112: integer (nullable = true)
 |    |-- 113: integer (nullable = true)
 |    |-- 114: integer (nullable = true)
 |    |-- 115: integer (nullable = true)
 |    |-- 117: integer (nullable = true)
 |    |-- 119: integer (nullable = true)
 |    |-- 12: integer (nullable = true)
 |    |-- 120: integer (nullable = true)
 |    |-- 121: integer (nullable = true)
 |    |-- 122: integer (nullable = true)
 |    |-- 126: integer (nullable = true)
 |    |-- 127: integer (nullable = true)
 |    |-- 13: integer (nullable = true)
 |    |-- 131: integer (nullable = true)
 |    |-- 133: integer (nullable = true)
 |    |-- 134: integer (nullable = true)
 |    |-- 136: integer (nullable = true)
 |    |-- 14: integer (nullable = true)
 |    |-- 141: integer (nullable = true)
 |    |-- 142: integer (nullable = true)
 |    |-- 143: integer (nullable = true)
 |    |-- 145: integer (nullable = true)
 |    |-- 15: integer (nullable = true)
 |    |-- 150: integer (nullable = true)
 |    |-- 154: integer (nullable = true)
 |    |-- 157: integer (nullable = true)
 |    |-- 16: integer (nullable = true)
 |    |-- 161: integer (nullable = true)
 |    |-- 163: integer (nullable = true)
 |    |-- 164: integer (nullable = true)
 |    |-- 17: integer (nullable = true)
 |    |-- 18: integer (nullable = true)
 |    |-- 19: integer (nullable = true)
 |    |-- 2: integer (nullable = true)
 |    |-- 20: integer (nullable = true)
 |    |-- 201: integer (nullable = true)
 |    |-- 202: integer (nullable = true)
 |    |-- 203: integer (nullable = true)
 |    |-- 21: integer (nullable = true)
 |    |-- 22: integer (nullable = true)
 |    |-- 222: integer (nullable = true)
 |    |-- 223: integer (nullable = true)
 |    |-- 23: integer (nullable = true)
 |    |-- 235: integer (nullable = true)
 |    |-- 236: integer (nullable = true)
 |    |-- 238: integer (nullable = true)
 |    |-- 24: integer (nullable = true)
 |    |-- 240: integer (nullable = true)
 |    |-- 245: integer (nullable = true)
 |    |-- 246: integer (nullable = true)
 |    |-- 25: integer (nullable = true)
 |    |-- 254: integer (nullable = true)
 |    |-- 26: integer (nullable = true)
 |    |-- 266: integer (nullable = true)
 |    |-- 267: integer (nullable = true)
 |    |-- 268: integer (nullable = true)
 |    |-- 27: integer (nullable = true)
 |    |-- 28: integer (nullable = true)
 |    |-- 29: integer (nullable = true)
 |    |-- 3: integer (nullable = true)
 |    |-- 30: integer (nullable = true)
 |    |-- 31: integer (nullable = true)
 |    |-- 32: integer (nullable = true)
 |    |-- 33: integer (nullable = true)
 |    |-- 34: integer (nullable = true)
 |    |-- 35: integer (nullable = true)
 |    |-- 350: integer (nullable = true)
 |    |-- 36: integer (nullable = true)
 |    |-- 37: integer (nullable = true)
 |    |-- 38: integer (nullable = true)
 |    |-- 39: integer (nullable = true)
 |    |-- 4: integer (nullable = true)
 |    |-- 40: integer (nullable = true)
 |    |-- 41: integer (nullable = true)
 |    |-- 412: integer (nullable = true)
 |    |-- 42: integer (nullable = true)
 |    |-- 420: integer (nullable = true)
 |    |-- 421: integer (nullable = true)
 |    |-- 427: integer (nullable = true)
 |    |-- 429: integer (nullable = true)
 |    |-- 43: integer (nullable = true)
 |    |-- 432: integer (nullable = true)
 |    |-- 44: integer (nullable = true)
 |    |-- 45: integer (nullable = true)
 |    |-- 48: integer (nullable = true)
 |    |-- 497: integer (nullable = true)
 |    |-- 498: integer (nullable = true)
 |    |-- 5: integer (nullable = true)
 |    |-- 50: integer (nullable = true)
 |    |-- 51: integer (nullable = true)
 |    |-- 516: integer (nullable = true)
 |    |-- 517: integer (nullable = true)
 |    |-- 518: integer (nullable = true)
 |    |-- 53: integer (nullable = true)
 |    |-- 54: integer (nullable = true)
 |    |-- 55: integer (nullable = true)
 |    |-- 555: integer (nullable = true)
 |    |-- 56: integer (nullable = true)
 |    |-- 57: integer (nullable = true)
 |    |-- 58: integer (nullable = true)
 |    |-- 59: integer (nullable = true)
 |    |-- 6: integer (nullable = true)
 |    |-- 60: integer (nullable = true)
 |    |-- 61: integer (nullable = true)
 |    |-- 62: integer (nullable = true)
 |    |-- 63: integer (nullable = true)
 |    |-- 64: integer (nullable = true)
 |    |-- 67: integer (nullable = true)
 |    |-- 68: integer (nullable = true)
 |    |-- 69: integer (nullable = true)
 |    |-- 7: integer (nullable = true)
 |    |-- 72: integer (nullable = true)
 |    |-- 74: integer (nullable = true)
 |    |-- 75: integer (nullable = true)
 |    |-- 76: integer (nullable = true)
 |    |-- 77: integer (nullable = true)
 |    |-- 78: integer (nullable = true)
 |    |-- 79: integer (nullable = true)
 |    |-- 8: integer (nullable = true)
 |    |-- 80: integer (nullable = true)
 |    |-- 81: integer (nullable = true)
 |    |-- 82: integer (nullable = true)
 |    |-- 83: integer (nullable = true)
 |    |-- 84: integer (nullable = true)
 |    |-- 85: integer (nullable = true)
 |    |-- 86: integer (nullable = true)
 |    |-- 89: integer (nullable = true)
 |    |-- 9: integer (nullable = true)
 |    |-- 90: integer (nullable = true)
 |    |-- 91: integer (nullable = true)
 |    |-- 92: integer (nullable = true)
 |    |-- 96: integer (nullable = true)
 |    |-- 98: integer (nullable = true)
 |    |-- 99: integer (nullable = true)

In [99]:
expdic = play3.select(pyspark.sql.functions.col('mastery.1'))

expdic.show(5)

+-----+
|    1|
+-----+
|31119|
|21147|
|39832|
| 1355|
|11241|
+-----+
only showing top 5 rows

In [103]:
expdic2=play3.select(pyspark.sql.functions.col('id').alias('summonerID'),
                     pyspark.sql.functions.col('mastery.*'))
expdic2.show(1)

+--------------------+-----+---+----+----+----+----+----+----+----+----+----+----+----+----+---+---+-----+---+----+----+----+----+----+----+-----+----+---+---+---+----+----+----+----+-----+----+----+----+----+-----+----+----+----+---+----+----+---+----+---+----+----+----+----+-----+----+----+----+----+----+-----+----+-----+-----+----+----+----+-----+-----+---+----+----+----+----+----+----+---+----+----+----+----+----+---+-----+-----+----+-----+----+---+----+----+---+----+---+-----+---+---+----+----+----+---+---+----+----+----+----+----+---+----+----+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+----+----+---+----+---+----+----+----+---+----+----+----+----+---+---+----+----+----+----+----+----+----+
|          summonerID|    1| 10| 101| 102| 103| 104| 105| 106| 107|  11| 110| 111| 112| 113|114|115|  117|119|  12| 120| 121| 122| 126| 127|   13| 131|133|134|136|  14| 141| 142| 143|  145|  15| 150| 154| 157|   16| 161| 163| 164| 17|  18|  19|  2|  20|201| 202| 203|  21|  22|  222| 223|  23| 235| 236| 238|   24| 240|  245|  246|  25| 254|  26|  266|  267|268|  27|  28|  29|   3|  30|  31| 32|  33|  34|  35| 350|  36| 37|   38|   39|   4|   40|  41|412|  42| 420|421| 427|429|   43|432| 44|  45|  48| 497|498|  5|  50|  51| 516| 517| 518| 53|  54|  55|555|  56|  57|  58|  59|   6|  60|  61|  62|  63|  64|  67|  68|  69|   7| 72|  74|  75| 76|  77| 78|  79|   8|  80| 81|  82|  83|  84|  85| 86| 89|   9|  90|  91|  92|  96|  98|  99|
+--------------------+-----+---+----+----+----+----+----+----+----+----+----+----+----+----+---+---+-----+---+----+----+----+----+----+----+-----+----+---+---+---+----+----+----+----+-----+----+----+----+----+-----+----+----+----+---+----+----+---+----+---+----+----+----+----+-----+----+----+----+----+----+-----+----+-----+-----+----+----+----+-----+-----+---+----+----+----+----+----+----+---+----+----+----+----+----+---+-----+-----+----+-----+----+---+----+----+---+----+---+-----+---+---+----+----+----+---+---+----+----+----+----+----+---+----+----+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+----+----+---+----+---+----+----+----+---+----+----+----+----+---+---+----+----+----+----+----+----+----+
|EuXHkripW2Qav3H2l...|31119|218|2712|null|5543|null|4496|null|null|null|null|null|null|null|591|544|42593|899|null|null|6108|null|1187|null|25608|null|979|436| 98|null|null|4003|null|95146|null|null|null|null|45287|1983|null|4769| 90|1124|null|772|1650| 79|null|null|1632|null|30852|null|null|null|5619|null|20526|null|94233|12755|4923|null|1398|10991|72403|153|null|null|1212|null|null|null|940|null|null|null|4908|null|999|24112|33503|null|27385|null|778|2163|null|976|null|235|11602|968|541|null|null|2871|808|835|null|5333|null|5223|null|116|1004|null|192|null|null|null|null|null|null|1476|null|9341|3678|3650|null|1937|4605|129|null|null| 98|null|126|null|1218|null|113|null|null|5768|1058|728|112|null|null|3693|null|1279|null|1920|
+--------------------+-----+---+----+----+----+----+----+----+----+----+----+----+----+----+---+---+-----+---+----+----+----+----+----+----+-----+----+---+---+---+----+----+----+----+-----+----+----+----+----+-----+----+----+----+---+----+----+---+----+---+----+----+----+----+-----+----+----+----+----+----+-----+----+-----+-----+----+----+----+-----+-----+---+----+----+----+----+----+----+---+----+----+----+----+----+---+-----+-----+----+-----+----+---+----+----+---+----+---+-----+---+---+----+----+----+---+---+----+----+----+----+----+---+----+----+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+---+----+----+---+----+---+----+----+----+---+----+----+----+----+---+---+----+----+----+----+----+----+----+
only showing top 1 row

In [105]:
play3.withColumn('explo',pyspark.sql.functions.explode(play3.mastery)).show(1)

"cannot resolve 'explode(table2.`mastery`)' due to data type mismatch: input to function explode should be array or map type, not struct<1:int,10:int,101:int,102:int,103:int,104:int,105:int,106:int,107:int,11:int,110:int,111:int,112:int,113:int,114:int,115:int,117:int,119:int,12:int,120:int,121:int,122:int,126:int,127:int,13:int,131:int,133:int,134:int,136:int,14:int,141:int,142:int,143:int,145:int,15:int,150:int,154:int,157:int,16:int,161:int,163:int,164:int,17:int,18:int,19:int,2:int,20:int,201:int,202:int,203:int,21:int,22:int,222:int,223:int,23:int,235:int,236:int,238:int,24:int,240:int,245:int,246:int,25:int,254:int,26:int,266:int,267:int,268:int,27:int,28:int,29:int,3:int,30:int,31:int,32:int,33:int,34:int,35:int,350:int,36:int,37:int,38:int,39:int,4:int,40:int,41:int,412:int,42:int,420:int,421:int,427:int,429:int,43:int,432:int,44:int,45:int,48:int,497:int,498:int,5:int,50:int,51:int,516:int,517:int,518:int,53:int,54:int,55:int,555:int,56:int,57:int,58:int,59:int,6:int,60:int,61:int,62:int,63:int,64:int,67:int,68:int,69:int,7:int,72:int,74:int,75:int,76:int,77:int,78:int,79:int,8:int,80:int,81:int,82:int,83:int,84:int,85:int,86:int,89:int,9:int,90:int,91:int,92:int,96:int,98:int,99:int>;;\n'Project [id#789, mastery#790, explode(mastery#790) AS explo#3106]\n+- Project [id#789, mastery#790]\n   +- SubqueryAlias `table2`\n      +- Relation[_attachments#784,_etag#785,_rid#786,_self#787,_ts#788,id#789,mastery#790,matches#791] com.microsoft.azure.cosmosdb.spark.schema.CosmosDBRelation@71e29aaf\n"
Traceback (most recent call last):
  File "/usr/hdp/current/spark2-client/python/pyspark/sql/dataframe.py", line 1989, in withColumn
    return DataFrame(self._jdf.withColumn(colName, col._jc), self.sql_ctx)
  File "/usr/hdp/current/spark2-client/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1257, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/hdp/current/spark2-client/python/pyspark/sql/utils.py", line 69, in deco
    raise AnalysisException(s.split(': ', 1)[1], stackTrace)
pyspark.sql.utils.AnalysisException: "cannot resolve 'explode(table2.`mastery`)' due to data type mismatch: input to function explode should be array or map type, not struct<1:int,10:int,101:int,102:int,103:int,104:int,105:int,106:int,107:int,11:int,110:int,111:int,112:int,113:int,114:int,115:int,117:int,119:int,12:int,120:int,121:int,122:int,126:int,127:int,13:int,131:int,133:int,134:int,136:int,14:int,141:int,142:int,143:int,145:int,15:int,150:int,154:int,157:int,16:int,161:int,163:int,164:int,17:int,18:int,19:int,2:int,20:int,201:int,202:int,203:int,21:int,22:int,222:int,223:int,23:int,235:int,236:int,238:int,24:int,240:int,245:int,246:int,25:int,254:int,26:int,266:int,267:int,268:int,27:int,28:int,29:int,3:int,30:int,31:int,32:int,33:int,34:int,35:int,350:int,36:int,37:int,38:int,39:int,4:int,40:int,41:int,412:int,42:int,420:int,421:int,427:int,429:int,43:int,432:int,44:int,45:int,48:int,497:int,498:int,5:int,50:int,51:int,516:int,517:int,518:int,53:int,54:int,55:int,555:int,56:int,57:int,58:int,59:int,6:int,60:int,61:int,62:int,63:int,64:int,67:int,68:int,69:int,7:int,72:int,74:int,75:int,76:int,77:int,78:int,79:int,8:int,80:int,81:int,82:int,83:int,84:int,85:int,86:int,89:int,9:int,90:int,91:int,92:int,96:int,98:int,99:int>;;\n'Project [id#789, mastery#790, explode(mastery#790) AS explo#3106]\n+- Project [id#789, mastery#790]\n   +- SubqueryAlias `table2`\n      +- Relation[_attachments#784,_etag#785,_rid#786,_self#787,_ts#788,id#789,mastery#790,matches#791] com.microsoft.azure.cosmosdb.spark.schema.CosmosDBRelation@71e29aaf\n"

In [111]:
from pyspark.sql.functions import array, col, explode, struct, lit
def to_long(df, by):

    # Filter dtypes and split into column names and type description
    cols, dtypes = zip(*((c, t) for (c, t) in df.dtypes if c not in by))
    # Spark SQL supports only homogeneous columns
    assert len(set(dtypes)) == 1, "All columns have to be of the same type"

    # Create and explode an array of (column_name, column_value) structs
    kvs = explode(array([
      struct(lit(c).alias("championId"), col(c).alias("points")) for c in cols
    ])).alias("kvs")

    return df.select(by + [kvs]).select(by + ["kvs.championId", "kvs.points"])

champ_mastery=to_long(expdic2, ["summonerID"])
champ_mastery.show(5)

+--------------------+----------+------+
|          summonerID|championId|points|
+--------------------+----------+------+
|EuXHkripW2Qav3H2l...|         1| 31119|
|EuXHkripW2Qav3H2l...|        10|   218|
|EuXHkripW2Qav3H2l...|       101|  2712|
|EuXHkripW2Qav3H2l...|       102|  null|
|EuXHkripW2Qav3H2l...|       103|  5543|
+--------------------+----------+------+
only showing top 5 rows

In [112]:
champ2.show(1)

+---+------+-------------+--------------------+-----------+-----------+------------------+----------+
| id|  name|armorperlevel|attackdamageperlevel|attackspeed|attackrange|spellblockperlevel|hpperlevel|
+---+------+-------------+--------------------+-----------+-----------+------------------+----------+
|266|Aatrox|         3.25|                 5.0|      0.651|        175|              1.25|        90|
+---+------+-------------+--------------------+-----------+-----------+------------------+----------+
only showing top 1 row

In [115]:
inner_join = champ_mastery.join(champ2, champ_mastery.championId == champ2.id)
inner_join.show(2)

+--------------------+----------+------+---+-------+-------------+--------------------+-----------+-----------+------------------+----------+
|          summonerID|championId|points| id|   name|armorperlevel|attackdamageperlevel|attackspeed|attackrange|spellblockperlevel|hpperlevel|
+--------------------+----------+------+---+-------+-------------+--------------------+-----------+-----------+------------------+----------+
|EuXHkripW2Qav3H2l...|        51|  5333| 51|Caitlyn|          3.5|                2.88|      0.625|        650|               0.5|        91|
|RBQZJQA6Acz3VqBqd...|        51| 30573| 51|Caitlyn|          3.5|                2.88|      0.625|        650|               0.5|        91|
+--------------------+----------+------+---+-------+-------------+--------------------+-----------+-----------+------------------+----------+
only showing top 2 rows